body {
  margin: 0;
  background-image: linear-gradient(to right, #4aa65d, #3f8d7a);
  overflow: hidden;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 0;
}
.card {
  background-color: #272d40;
  border-radius: 20px;
  width: 315px;
  height: 402px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card__heart {
  color: #fcfcfc;
  font-size: large;
  cursor: pointer;
}

.card__cart {
  color: #fcfcfc;
  font-size: large;
  float: right;
  cursor: pointer;
}

.card__image {
  width: 240px;
  height: 122px;
  object-fit: cover;
  display: block;
  transition: rotate ease-in-out 0.5s, transform ease-in-out 0.5s;
}

.card__product-name {
  color: #4daf50;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  transition: text-align ease-in-out 0.5s, margin-top ease-in-out 0.5s;
}

.card__product-price {
  color: white;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  transition: text-align ease-in-out 0.5s, margin-top ease-in-out 0.5s;
}

.card__product-size {
  margin-top: 100px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in-out 0.5s, margin-top ease-in-out 0.5s;
}

.card__product-size-title {
  color: white;
  font-size: large;
  transition: opacity ease-in-out 0.5s;
}

.card__product-size-number {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: lightgray;
  margin-left: 10px;
  padding: 2.5px 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity ease-in-out 0.5s;
}

.card__product-color {
  margin-top: 20px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.card__product-color-title {
  color: white;
  font-size: large;
  transition: opacity ease-in-out 0.5s;
}

.card__product-color-type {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-left: 10px;
  transition: opacity ease-in-out 0.5s;
}

.card__btn-buy {
  background-color: #4daf54;
  color: white;
  width: 100px;
  padding: 5px;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease-in-out 0.5s;
}

.card__btn-add {
  background-color: #4daf54;
  color: white;
  width: 100px;
  padding: 5px;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease-in-out 0.5s;
}

.card__btn-buy:hover {
  transform: scale(0.85);
}

.card__btn-add:hover {
  transform: scale(0.85);
}

.card:hover > .card__image {
  rotate: -25deg;
  transform: translateY(-50px) translateX(25px);
}

.card:hover > .card__product-name {
  text-align: left;
  margin-top: -30px;
}

.card:hover > .card__product-price {
  text-align: left;
  margin-top: -5px;
}

.card:hover > .card__product-size {
  margin-top: 40px;
  opacity: 1;
}

.card:hover > .card__product-color {
  opacity: 1;
}

.card:hover > .card__btn-buy {
  opacity: 1;
}

.card:hover > .card__btn-add {
  opacity: 1;
}
